<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <display-name>Securtiy Application v0.0</display-name>
  <description>Initial Development of Security Application</description>
  
   <security-constraint>
   <web-resource-collection>
     <web-resource-name>HtmlAuth</web-resource-name>
     <url-pattern>*.html</url-pattern>
     <url-pattern>/security/*</url-pattern>
     <http-method>GET</http-method>
     <http-method>POST</http-method>
   </web-resource-collection>
   <auth-constraint>
     <role-name>application-select</role-name>
   </auth-constraint>
 </security-constraint>
 
 <login-config>
   <auth-method>FORM</auth-method>
   <form-login-config>
     <form-login-page>/login</form-login-page>
     <form-error-page>/login?error=true</form-error-page>
   </form-login-config>
 </login-config>
 
   <servlet>
   <servlet-name>remoteLoggingServlet</servlet-name>
   <servlet-class>org.openelis.gwt.server.LoggingServlet</servlet-class>
   <init-param>
      <param-name>symbolMaps</param-name>
      <param-value>WEB-INF/deploy/security/symbolMaps</param-value>
    </init-param>
   <load-on-startup>4</load-on-startup>
  </servlet>
    
  <servlet-mapping>
   <servlet-name>remoteLoggingServlet</servlet-name>
   <url-pattern>/timetracker/remote_logging</url-pattern>
  </servlet-mapping>  
  
    <session-config>
    <session-timeout>300</session-timeout>
  </session-config>

  <error-page>
    <error-code>404</error-code>
    <location>/.no_file.html</location>
  </error-page>     
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Security.html</welcome-file>
  </welcome-file-list>
</web-app>
